body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F5F5F5;
  color: #737373;
}

label {
    display: block;
    line-height: 25px;
}

li {
list-style: none;
display: inline;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.rack {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.container{
  width: 850px;
  margin: 0 auto;
}

.users {
	font-weight: bold;
}

.slider {
	-webkit-appearance: slider-vertical;
	width: 24px;
}

.full808 {
  margin: 0 auto;
}

.grid808 {
  width:44px;
  height:44px;
  background-color: #6496c8;
}

.tracks808 {
  position:relative;
}

.grid808-track0 {
  display:inline-block;
}

.grid808-track1 {
  display:inline-block;
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.grid808-track2 {
  display:inline-block;
  border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.grid808-track3 {
  display:inline-block;
  border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.grid808-track4{ 
  display:inline-block;
  border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.grid808-beat1 {
  background-color: #F67017;
}
.grid808-beat2 {
  background-color: #F2A200;
}
.grid808-beat3 {
  background-color: #EEDF2F;
}
.grid808-beat4 {
  background-color: #FFFFFF;
}

.filter808 {
  padding-bottom: 20px;
}

.full909 {
  margin: 0 auto;
}

.grid909 {
  width:38px;
  height:38px;
  background-color: #6496c8;
}

.tracks909 {
  position:relative;
}

.grid909-track0 {
  display:inline-block;
}

.grid909-track1 {
  display:inline-block;
  border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.grid909-track2 {
  display:inline-block;
  border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.grid909-track3 {
  display:inline-block;
  border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.grid909-track4{ 
  display:inline-block;
  border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.grid909-beat1 {
  background-color: #F67017;
}
.grid909-beat2 {
  background-color: #F2A200;
}
.grid909-beat3 {
  background-color: #EEDF2F;
}
.grid909-beat4 {
  background-color: #FFFFFF;
}

.filter909 {
  padding-bottom: 20px;
}

.track-name{
  float:left;
}

.number {
  color: black;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/*.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
*/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.current {
   color: white;
   background: #3EB3D7;
}

.sequencer-steps {
  display: inline-block;
  width: 44px;
}

.play-pause {
  font-size: 36px;
}

.play-controls{
}


.modals-808 {
  display: inline-block;
  width: 19%;
}

.checkbox-label{
  font-size: 9px;
  line-height: 11px;
}